<HTML>
    <head>
        <title>polite: survey</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
      </head>
    
    <BODY bgcolor="white">
        <h2>Polite: survey #{{data['survey_id']}} </h2>
        <h3>A "poll lite" system with minimal python, html and javascript.</h3>

        {{data['question_str']}}: <br/>

        <form name="send_answers" method="POST">

                {% if data['option_1_str']!='' %}
                    <input type="{{data['type_str']}}" name="{{data['survey_id']}}" value="1"> {{data['option_1_str']}} <br>
                {%endif%}
                {% if data['option_2_str']!='' %}
                    <input type="{{data['type_str']}}" name="{{data['survey_id']}}" value="2"> {{data['option_2_str']}} <br>
                {%endif%}
                {% if data['option_3_str']!='' %}
                    <input type="{{data['type_str']}}" name="{{data['survey_id']}}" value="3"> {{data['option_3_str']}} <br>
                {%endif%}
                {% if data['option_4_str']!='' %}
                    <input type="{{data['type_str']}}" name="{{data['survey_id']}}" value="4"> {{data['option_4_str']}} <br>
                {%endif%}
                {% if data['option_5_str']!='' %}
                    <input type="{{data['type_str']}}" name="{{data['survey_id']}}" value="5"> {{data['option_5_str']}} <br>
                {%endif%}

            <br>
            <input type="submit" /> <br>
        </form>        
        <br>
        <a href="{{ url_for('index') }}">Back</a>

    </BODY>
</HTML>